/* VALIDADOR OK  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    min-height: 100%;
    font-size: 1.1rem;
    line-height: 1.4em;
}
header h1{
    font-size: 50px;
    text-shadow: 2px 2px #FF0000;
}
.header{
    grid-area: header;    

    padding: 0.8em;
    width: auto;
    text-align: center;
    font-family: Rubik;  

    overflow: hidden;
    background-position-x: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: border-box;   
    background-image: url("../images/fondo.jpg");
}
.menu{
    padding: 1em;
    margin-top: 0.5em;    
}
.menu a{
    width:10%;    
    padding: 5px 10px;
    text-align: center;
    display: inline-block;

    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 15px 1px;   
    background-color: #9A0908;    
}
.menu a:hover, a:focus {
    color: #9A0908;    
    background-color: white;
    border: 1px solid #9A0908;
}
.main{    
    grid-area: main;

    gap:0;
    display: grid;
    align-items: center;
    grid-template:"container" auto / auto;
    
    font-family: Alice;
}
.footer {
    grid-area: footer;
    
    color: white;
    width: auto;    
    text-align: center;
    background-color: #9A0908;
}
footer p{    
    padding: 0;
    font-size: 0.8em;
    text-align: center;
}
footer a{
    color: inherit;
}
footer a:hover, a:focus{
    color:gray;
    text-decoration: none;
}
.validador{    
    display: inline;
}
.grid-general{   /* etiqueta BODY */                  
    grid-template: 
    "header" 100px
    "main"  auto              
    "footer" auto 
    / 200px auto 200px;
}
.container{    
    grid-area: container;

    padding: 0em;
    margin: 0 auto;    
    max-width: 960px;
    background-color: #FFF1E4;    
}

/**********************************************************/
                /* ESTILOS GENERALES Y DE INDEX */ 
/**********************************************************/
.titulo{
    width: 70%;    
    padding: .8em;
    margin: 0em auto;   
    font-family: Rubik;
    border-bottom: 2px solid #9A0908;
}
.titulo h2{
    padding: .5em;
    font-size: 35px;
    color:#9A0908;
    text-align: center;    
}
.titulo .meta{   
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.4em;
}
p{
    padding: 1.2em;
    text-indent: 2em;
    font-size: 15.5px;    
    text-align: justify;    
}
h3, .citaRoja{
    color:#9A0908;
}
h3{
    text-indent: 0.5em;
}
.citaGris, .citaGris a, .citaGris a:focus, .citaGris a:hover, .citaGris a:visited, .citaGris a:active, .citaGris a:target{
    color:gray;
}
figure{   
    margin: auto;
    width: 400px;
    height: auto;
    margin-bottom: 1em;
    padding: 12px 0 0 0;   
    background-color: wheat;
    border-top: 2px solid gray;    
    box-shadow: 5px 5px 8px gray;    
}
img{    
    padding: 0;
    width: 100%;  
    margin: 0em auto;
}
.pieFoto{
    width: 100%;
    padding: 0em;
    margin: 0em auto;      
    padding-bottom: 1.5em;
    
    font-style: italic;  
    text-align: center;
}

/**********************************************************/
                    /* PAGINA HISTORIA */
/**********************************************************/
.contenedorListas{
    padding-top: 2.5em;
    padding-bottom: 1em;
}
.tituloListaNegro{
    color:black;
    font-size: 1.5em;    
}
.tituloListaRojo{
    font-size: 1.5em;
    color: #9A0908;
    font-style: italic;    
}
.lista{     
    margin-top: 1em;
    margin-left: 4em;
    margin-bottom: 1em;    
    text-align: justify;
    border-left: 4px solid #9A0908;
}
.listaDefinicion{
    margin-left: 5.5em;
}
dd{
    font-style: italic;
    margin-left: 1em;
}
.listaTerciaria > li{    
    font-size: 12px;
    margin-left: 2.5em;    
    list-style-type: circle;
}
.listaSecundaria > li{
    font-size: 14px;
    margin-left: 2em;    
    list-style-image: none;
    list-style-type: square;
}
.listaPrimaria > li{
    font-size: 16px;
    margin-left: 3.5em;    
    list-style-image: url("../images/logo_flash2.png");   
}
.lista > p{
    padding-right: 6.5em;
}

/**********************************************************/
                    /* PAGINA ALTERNATIVAS */
/**********************************************************/
.contenedorTitulo{
    width: 82%;
    padding: 0.5em;
    margin: 0em auto;
    margin-bottom: 1.5em;

    font-size: 0.9em;
    text-align: center;
    font-family: Rubik;
    border-bottom: 2px solid #9A0908;
}

.tarjeta1{       
    grid-area: tarjeta1;
}
.tarjeta2{
    grid-area: tarjeta2;
}
.tarjeta3{
    grid-area: tarjeta3;
}
.tarjeta4{
    grid-area: tarjeta4;
}
.tarjeta5{
    grid-area: tarjeta5;
}
.tarjeta6{
    grid-area: tarjeta6;
}
.contenedorTarjetas{  
    padding: 4em 10em 6em 5em;    
    margin: 0 auto;   

    display: grid;
    column-gap: 7em;
    row-gap: 10em;

    grid-template: 
        "tarjeta1 tarjeta2 tarjeta3" 100px 
        "tarjeta4 tarjeta5 tarjeta6" 100px /
        150px 150px 150px 
    ;
    align-items: center;
}
.tarjeta{
    width: 250px;  
    height: 240px;   
    padding: 0.1em;
    border: 1px solid #000;
    background-color:#FFF1E4;    
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0.1em 0.1em 5px #000;    
}
.bandaTarjeta{
    width: 100%;
    height: 65px;    
    border-radius: 5px 5px 0px 0px;
    background-color: #668888;
}
.logoTarjeta{
    width: 55px;
    height: 55px;        
    padding: 0em;
    margin-top: -45px;
    margin-left: 5px;

    background-color:#D99666; 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    background-image: url("../images/html5.png");
    border-radius: 90% 90% 80% 80% / 40% 40% 90% 90%;    
}
.tituloTarjeta {
    float: right;
    margin: 0em auto;
    padding: 1em 1em 0em 0em; 

    font-size: 16px;
    color: #9A0908;
    font-weight: bold;   
}
.tituloVerde, .tituloAudio{
    color:green;
}
.tituloAudio{
    font-size: 14px;
    float: right;
}
.textoTarjeta{
    padding-top: 0.2em;    
}
.textoTarjeta > p{
    font-size: 10px;
    margin-top: 50px;        
    text-align: justify;
    padding: 0.2em 2em 5em 1em;   
}
/* movil vertical */
@media (min-width: 320px) and (max-width: 479px){
    .contenedorTarjetas{  
        grid-template: 
            "tarjeta1" 100px
            "tarjeta2" 100px
            "tarjeta3" 100px
            "tarjeta4" 100px
            "tarjeta5" 100px
            "tarjeta6" 100px             
        ;        
    }
}
/* movil horizontal */
@media (min-width: 480px) and (max-width: 559px){
    .contenedorTarjetas{  
        grid-template: 
            "tarjeta1 tarjeta2"  100px
            "tarjeta3 tarjeta4"  100px
            "tarjeta5 tarjeta6"  100px /
            200px 200px
            
        ;        
    }
}
/**********************************************************/
                    /* CODIGO COPIADO */                    
/**********************************************************/

/* ESTE BLOQUE NO ES MIO. NO CONSEGUI REALIZAR LAS COMILLAS */
blockquote{
    padding: 1.5em;
    margin: 0.5em 1em;

    font-size: 14px;
    text-indent: 2em;
    text-align: justify;
    background-color: #F9F9F9;
    border-left: 9px solid #CCCCCC;
}
blockquote::before{
    content:"\201c";
    font-family: Alice;
    font-size: 50px;
    font-weight: bolder;
    line-height: 0px;
    color:#CCCCCC;
    vertical-align: middle;
}
blockquote::after{
    content:"\201d";
    font-family: Alice;
    font-size: 50px;
    font-weight: bolder;
    line-height: 0px;
    color:#CCCCCC;
    vertical-align: middle;
    padding-top: 15px;
}
/* HASTA AQUI. CODIGO COPIADO. FUENTE => http://unblogbonitoparati.blogspot.com/2016/01/colocar-comillas-textos-blogger-bloques.html */
    
/*
mobile-portrait: min:320px - max:479px;
mobile-landscape: min:480px - max:599px;
small-tablet-portrait: min:600px - max:799px;
small-tablet-landscape: min:800px - max:767px;
tablet-portrait: min:768px - max:1023px;
tablet-landscape: min:1024px;
*/